* {
  box-sizing: border-box;
}

.layer-item-button-wrapper {
  background-color: rgb(203, 226, 234);
  color: #222222;
  font-size: 16px;
  font-weight: 800;
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  margin: 5px;
  width: max-content;
  cursor: move;
}
