* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  color: black;
  font-weight: bold;
  display: block;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.io-buttons {
  text-align: left;
}

#load-button,
#export-button {
  margin-left: 10px;
  padding: 7px 10px;
  background-color: rgb(107, 167, 219);
  color: white;
  border-radius: 10px;
  border-style: none;
  transition: 100ms ease-in-out;
}

#load-button:hover,
#export-button:hover {
  background-color: rgb(131, 179, 220);
  cursor: pointer;
}

#main-menu-footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.canvas-and-friends-container {
  display: flex;
}

.vertical-toolbar-container {
  padding: 15px;
  text-align: left;
  flex-basis: 25%;
}

.canvas-container {
  flex-basis: 60%;
}

.action-toolbar-container {
  flex-basis: 15%;
}
